.user-form {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  width: 500px; }
  .user-form__submit {
    display: inline-block;
    width: 50%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem 0;
    margin: auto;
    background-color: #84f2ff;
    transition: background-color 0.2s ease-in-out; }
    .user-form__submit:hover {
      background-color: #5fe1ef; }

.form-control__label, .form-control__input {
  display: block; }

.form-control__input {
  width: 100%;
  margin-top: 0.5rem; }
